HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

src/main/resources/application.properties
*.properties
*.properties
flask_openai_backend/Gemini.txt
*.pdf
*.epub
/src/main/resources/static/cache
/src/main/resources/static/SearchHistory
/src/main/resources/static/SearchHistory
flask_openai_backend/deepseek.txt
src/main/resources/static/SearchHistory/search_count.txt
src/main/resources/static/SearchHistory/search_count.txt
/chrome-profiles
src/main/resources/static/SearchHistory/search_count.txt
/src/main/resources/static/books_data
flask_openai_backend/templates/doubao.txt
*.pptx
doubao.txt
*.crdownload
*.pyc
/flask_openai_backend/ChatHistory
flask_openai_backend/ChatHistory/chat-1746996933642.json
